<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chat Room</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    <script src="js/lib/socket.io.slim.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-websocket.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="ChatRoom" ng-controller="ChatController" ng-class="{pending: username === null}">
    <div id="overlay" ng-show="username === null">
        <div class="dialog">
            <div id="enter-username" ng-controller="UserController">
                <form name="userForm" ng-submit="joinChat( $event )" novalidate>
                    <input type="text" id="username" ng-model="temp_username" placeholder="Enter nickname" required>
                </form>
            </div>
        </div>
    </div>

    <div id="chat" ng-show="username !== null">
        <aside id="clients">
            <h3><i class="fa fa-globe"></i> Users Online</h3>
            <ul>
                <li class="client" ng-repeat="user in onlineUsers track by $index"><span><i class="fa fa-user"></i></span> {{ user }}</li>
            </ul>
        </aside>

        <main id="chat-window">
            <div id="conversation" scroll-bottom="items">
                <div class="message" ng-repeat="item in items.items track by $index">
                    <div ng-if="item.type === 'msg'"><strong class="message">{{ item.username }}: </strong> {{ item.msg }}</div>
                    <div ng-if="item.type === 'notice'"><strong class="notice"><i class="fa fa-arrow-right"></i> {{ item | notice }}</strong></div>
                </div>
            </div>

            <div id="inputs">
                <form ng-submit="sendMessage( $event )" name="inputsForm" novalidate>
                    <textarea id="message" name="message" ng-keypress="( $event.charCode === 13 ) ? sendMessage( $event ) : return" ng-model="message" required></textarea>
                </form>
            </div>
        </main>
    </div>
</body>
</html>