@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700");
@import 'https://use.fontawesome.com/1c28ca5809.css';
html {
  height: 100%; }

body {
  font-family: 'Heebo', sans-serif;
  background: #c5ddeb;
  margin: 0;
  padding-top: 50px;
  display: flex;
  align-items: center;
  height: 100%; }
  body.pending {
    background: rgba(0, 0, 0, 0.5); }

* {
  box-sizing: border-box; }

input, textarea, button {
  outline: none;
  font-family: 'Heebo', sans-serif; }

h3, ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

#overlay {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #overlay .dialog {
    width: 300px;
    height: 90px;
    background: #444753;
    color: #fff;
    border-radius: 35px;
    padding: 20px;
    box-shadow: 4px 5px 10px #333; }
    #overlay .dialog input, #overlay .dialog button {
      border: none; }
    #overlay .dialog input {
      font-size: 1.5em;
      width: 100%;
      border-radius: 20px;
      display: block;
      padding: 15px;
      height: 50px; }

#chat {
  margin: 0 auto;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center; }
  #chat aside#clients, #chat main {
    height: 100%; }
  #chat aside#clients {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #444753;
    color: #fff;
    width: 200px;
    padding: 20px; }
    #chat aside#clients ul, #chat aside#clients li {
      list-style: none; }
    #chat aside#clients li.client {
      cursor: default;
      display: flex;
      align-items: center;
      margin-top: 20px; }
      #chat aside#clients li.client span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        font-size: 1.25em;
        margin-right: 10px; }
        #chat aside#clients li.client span i {
          color: #86bb71; }
  #chat main#chat-window {
    padding: 20px;
    width: 1000px;
    background: #f2f5f8;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    #chat main#chat-window #conversation {
      overflow-y: scroll;
      font-weight: 300;
      font-size: 14px;
      height: 360px; }
      #chat main#chat-window #conversation::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5; }
      #chat main#chat-window #conversation::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5; }
      #chat main#chat-window #conversation::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555; }
      #chat main#chat-window #conversation .notice, #chat main#chat-window #conversation .message {
        padding: 5px; }
      #chat main#chat-window #conversation .notice {
        padding-left: 20px;
        font-style: italic;
        color: #2a7abb; }
      #chat main#chat-window #conversation strong {
        font-weight: 400; }
    #chat main#chat-window #inputs {
      position: absolute;
      bottom: 20px;
      width: 960px;
      display: flex; }
      #chat main#chat-window #inputs textarea {
        width: 900px;
        height: 30px;
        display: block;
        resize: none;
        border: none;
        border-radius: 10px;
        background: #e4e4e4 url(../images/message.png) no-repeat 10px center;
        background-size: 30px;
        padding: 10px 5px 35px 50px;
        overflow: hidden;
        line-height: 1.75; }
      #chat main#chat-window #inputs button {
        display: block; }
